<%- include("partials/head") %>
</head>
<main>
    <%- include("partials/nav") %>
    <section>
        <form action="">
            <label for="" id="title-form"><strong>ID PRODUCTO:</strong></label>
            <input name="" type="text" id="input-id-form" placeholder="Ingrese el ID del producto..." autocomplete="off">
            <button type="submit" id="btn-form">Buscar</button>
        </form>
    </section>
</main>