<%- include("partials/head") %>
</head>
<body>
    <main>
        <%- include("partials/nav") %>
    </main>
</body>
<script src="js/functions_dashboard.js"></script>
<%- include("partials/footer") %>