    <footer>
        <div id="links">
            <a href="https://github.com/StefaniaAyelen" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            <a href="https://github.com/Osvaldx" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
        </div>
        <h4>Stefania Bianchi & Nahuel Romano</h4>
    </footer>
</html>