<nav id="menu">
    <div class="text-menu-admin">
        <h1 id="text-menu">Menu Admin</h1>
        <img src="imgs/paneladmin.png" alt="" id="logoadmin">
    </div>
    <div class="dash">
        <h3 class="text-section">Dashboard</h3>
        <a href="/dashboard" class="option-selected">Listar productos</a>
        <a href="/searchProduct" class="option-selected">Obtener producto por id</a>
        <a href="addProduct.html" class="option-selected">Agregar producto</a>
        <a href="updateProduct.html" class="option-selected">Modificar producto</a>
        <a href="deleteProduct.html" class="option-selected">Eliminar producto</a>
    </div>
    <div class="dash">
        <h3 class="text-section">Profile</h3>
        <a href="">View profile</a>
        <a href="">Create admin</a>
    </div>
</nav>