<nav id="menu">
    <div class="text-menu-admin">
        <h1 id="text-menu">Menu Admin</h1>
        <img src="/imgs/paneladmin.png" alt="" id="logoadmin">
    </div>
    <div class="dash">
        <h3 class="text-section">Dashboard</h3>
        <a href="/dashboard" class="option-selected">Listar productos</a>
        <a href="/dashboard/searchProduct" class="option-selected">Obtener producto por id</a>
        <a href="/dashboard/addProduct" class="option-selected">Agregar producto</a>
        <a href="/dashboard/updateProduct" class="option-selected">Modificar producto</a>
        <a href="/dashboard/deleteProduct" class="option-selected">Eliminar producto</a>
    </div>
    <div class="dash">
        <h3 class="text-section">Opciones</h3>
        <a href="">Volver al menu</a>
        <a href="">Crear admin</a>
    </div>
</nav>