.option-selected:nth-child(2) {
  font-weight: normal;
}

.option-selected:nth-child(3) {
  font-weight: normal;
}

.option-selected:nth-child(4) {
  font-weight: bold;
}

#products {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #334155;
}

#form-addProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}