.option-selected:nth-child(2) {
    font-weight: normal;
}

.option-selected:nth-child(3) {
    font-weight: bold;
}

#products {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-deleteProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.8rem;
    background-color: #334155;
    width: 20%;
    border-radius: 10px;
}

#title-form {
    font-size: larger;
    color: white;
    }

#input-id-form {
    font-size: medium;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    text-align: center;
}

#btn-form {
    font-size: medium;
    font-weight: bold;
    background-color: #f97316;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}