* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

.msg-discount {
    text-align: center;
    background-color: black;

}

.msg-discount h3 {
    color: white;
    font-size: 15px;
    padding: 5px;
}


.header img {
    width: 6%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.btns-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    padding: 10px;
}

.btns-section a {
    color: white;
    text-decoration: none;
}

.btns-section i {
    margin: 0px 5px;
}

#selected-section {
    color: #a89c7d;
}

#text-categories {
    text-align: center;
    margin-top: 3rem;
}

#card-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    gap: 20px;
}

.card-skate {
    width: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 2rem 0;
}

.card-rollers {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 2rem 0;
}

.card-skate:hover, .card-rollers:hover {
    transform: scale(1.08);
}

.card-skate:active, .card-rollers:active{
    transform: scale(0.9);
}

.card-skate img, .card-rollers img {
    max-height: 200px;
    width: auto;
}
