* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

#menu {
    background-color: #111827;
    color: #F9FAFB;
    display: flex;
    font-size: 15px;
    width: 100%;
    justify-content: space-evenly;
    gap: 5rem;
}

.dash {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}

.options-menu {
    display: flex;
}

a {
    display: block;
    color: #d1d5db;
    text-decoration: none;
    margin: 5px 0;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.2s;
}

#logoadmin {
    width: 150px;
}

.text-menu-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a:hover {
    background-color: #334155;
    color: #f97316;
}

.text-section {
    text-align: center;
    color: #f97416d5;
    border-top: 2px solid #f97316;
    border-bottom: 2px solid #f97316;
    padding: 5px;
}

#text-menu {
    color: #f59e0b;
    font-size: 20px;
    margin: 5px;
}

#menu-selected {
    font-weight: bold;
}